body {
  overflow: hidden;
  background-image: url("background.png");
  font-family: 'Open Sans', sans-serif;
  margin-top: 0;
}
h1 {
  font-weight: 700;
  font-size: 130%;
}
h1 a {
  text-decoration: none;
}
a:hover {
  color: #f00;
}
.farSide {
  text-align: right;
}
html[dir="RTL"] .farSide {
  text-align: left;
}

.level_number {
  border: solid 1px #ddd;
  border-radius: 20px;
  padding: 6px 12px;
  color: #888;
}
.level_dot {
  border: solid 1px #ddd;
	border-radius: 50%;
	width: 15px;
	height: 15px;
  display: inline-block;
}
.level_done{
  background-color: #ddd;
  color: #000;
  cursor:default;
}

.level_dot:hover, .level_number:hover {
  cursor:default;
  color: #888;
}

.level_done:hover{
  color:black;
}

#containerCode {
  direction: ltr;
  text-align: center;
  background-color: #eee;
  padding: 5px;
  margin: 0 3ex;
  font-size: 1.8em;
  overflow: auto;
  max-height: 200px;
}
#containerCode img{
	margin-bottom: 1em;
}
img[src$="help.png"] {
  height: 64px;
  width: 64px;
}

html[dir="RTL"] .mirrorImg {
  transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
}

#languageMenu {
  vertical-align: top;
  margin-top: 16px;
}

/* Buttons */

button, input[type="button"] {
  margin: 5px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: large;
  background-color: #eee;
  color: #000;
}

button.login{
  border: 1px solid #dd3858;
  background-color: #dd3858;
  color: #fff;
  margin:18px 18px 0px 0px;
}

#logout button{
  margin:18px 18px 0px 0px;
}

button.primary {
  border: 1px solid #43949b;
  background-color: #43949b;
  color: #fff;
}
button.secondary{
  border: 1px solid #7ac9c8;
  background-color: #7ac9c8;
  color: #fff;
}
button.primary>img,
button.secondary>img {
  opacity: 1;
}
button>img {
  opacity: 0.6;
  vertical-align: text-bottom;
}
button:hover:not(:disabled)>img {
  opacity: 1;
}
button:active:not(:disabled) {
  border: 1px solid #888 !important;
}
button:hover:not(:disabled) {
  box-shadow: 2px 2px 5px #888;
}

/* Dialogs */

#dialog {
  visibility: hidden;
  background-color: #fff;
  color: #000;
  border: 1px solid #ccc;
  position: absolute;
  border-radius: 8px;
  box-shadow: 5px 5px 5px #888;
  padding: 10px;
  top:6em;
}
#dialogBorder {
  visibility: hidden;
  position: absolute;
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  border-radius: 6px;
  box-shadow: 5px 5px 5px #888;
}
#dialogShadow {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0.3
}
.dialogAnimate {
  transition-property: width height left top opacity;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}
.dialogHiddenContent {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
#dialogHeader {
  height: 25px;
  margin: -10px -10px 15px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: #ddd;
  cursor: move;
}
#dialog button {
  min-width: 4em;
}
.featureUnlocked{
  margin: 0px 20px;
}

/* sticky header */

#header {
  width: 100%;
  height:80px;
  position:fixed;
  top:0;
  left:0;
  background-color: white;
  -webkit-box-shadow: 0px 3px 3px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    0px 3px 3px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         0px 3px 3px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

a > img{
  height:80px;
}

#banner {
  padding: 1em;
}

#subtitle {
  font-style: italic;
}

a {
  text-decoration: none;
}

#logo{
	display:inline-block;
}

#logo a:hover img{
	-webkit-filter: drop-shadow(0px 3px 3px #ccc);
    filter:         drop-shadow(0px 3px 3px #ccc);
}

.farSide{
	float: right;
}

#header .farSide{
	margin: 18px 18px 0px 0px;
}

.farSide button{
	float: right;
	margin-top: 0;
}

@media (min-width:801px) { /* tablet, landscape iPad, lo-res laptops ands desktops */
/* move avatar to bottom, below toolbox and canvas */

}


@media (max-width:600px) { /* smartphones, Android phones, andscape iPhone */
  #logo{
    width: 100px; /*so buttons don't overlap*/
  }
  #logo img{
    -webkit-clip-path: inset(0% 78% 0% 0%);
    clip-path: inset(0% 78% 0% 0%);
  }
}
