html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#languageMenu {
  position: absolute;
  top: 0;
}

html[dir="LTR"] #languageMenu {
  right: 1em;
}

html[dir="RTL"] #languageMenu {
  left: 1em;
}

#header {
  position: absolute;
  top: 1em;
  left: 20%;
  right: 20%;
  width: 60%;
  text-align: center;
}

#banner {
  padding: 1em;
}

#subtitle {
  font-style: italic;
}

a {
  text-decoration: none;
}
