
#visualization {
  position: relative;
}
.edges, .edgeX, .edgeY {
  stroke-width: 1;
  stroke: #BBA;
  fill: none;
  font-family: sans-serif;
  font-size: 10pt;
  font-weight: 100;
}
.edgeX {
  text-anchor: start;
}

#svgBird {
  overflow: hidden;
  direction: ltr;
}

img[src$="help_up.png"] {
  margin: -20px 10px 0;
  height: 64px;
  width: 23px;
}

/* Buttons */
button.primary {
  /* Can't use "text-align: start" due to IE. */
  text-align: left;
}
html[dir="RTL"] button.primary {
  text-align: right;
}

/* Sprited icons. */
.icon21 {
  height: 21px;
  width: 21px;
  background-image: url(icons.png);
}
.link {
  background-position: 0px 0px;
}
.run {
  background-position: 0px -21px;
}
.stop {
  background-position: -21px -21px;
}
#workspace {
    position: fixed;
    top: 90px;
    width: 100%;
}
#levelLinks {
    height: 40px;
    padding: 10px;
    background-color: white;
    margin-right: 20px;
    -webkit-box-shadow: 0px 5px 2px #ccc;
    -moz-box-shadow: 0px 5px 2px #ccc;
    box-shadow: 0px 5px 2px #ccc;
}
#blockly {
    position: fixed;
    top: 120px;
    bottom: 10px;
    //margin-top: 62px;
}
.level_dot, .level_number {
    position: relative;
    top: 10px;
}

img.help{
	margin-right:10px;
}

#leftSide{
	float:right;
	position:relative;
	left:-20px;
}
#dialog{
	top:5px;
}