button.primary {
  /* Can't use "text-align: start" due to IE. */
  text-align: left;
}
#header{
	z-index:50;
}
html[dir="RTL"] button.primary {
  text-align: right;
}
#wrapper{
	position:relative;
	height:85%;
}
#workspace {
  position: absolute;
  top: 90px;
  left: 10px;
  z-index: -20;
}
#page-container{
    position: absolute;
    zoom: 1;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
}
#levelLinks{
  height: 40px;
  padding: 10px;
  background-color: white;
  //margin-right: 20px;
  -webkit-box-shadow: 0px 5px 2px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    0px 5px 2px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         0px 5px 2px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
#unlock, #save{
  margin:0;
}
.level_dot, .level_number{
  position: relative;
  top: 10px;
}
#visualization{
  position:relative;
  right:0;
  float:right;
  top: 10px;
}
#blockly{
  position: relative;
  top: 10px;
  float:left;
  margin-right: 10px;
}
/* clean this up */
#display, #prevAnswer {
  border:10px solid #fae5e2;
  width:400px;
  height:580px;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:        border-box;
  position:absolute;
  bottom:0px;
}
#prevAnswer{
  border:none;
}
#downloadImageLink {
  display: none;
}

/* Slider. */
.sliderTrack {
  stroke: #aaa;
  stroke-width: 6px;
  stroke-linecap: round;
}
.sliderKnob {
  fill: #ddd;
  stroke: #bbc;
  stroke-width: 1px;
  stroke-linejoin: round;
}
.sliderKnob:hover {
  fill: #eee;
}

/* Sprited icons. */
.icon21 {
  height: 21px;
  width: 21px;
  background-image: url(icons.png);
}
.camera {
  background-position: -21px 0px;
}
.stop {
  background-position: -42px 0px;
}
.run {
  background-position: -63px 0px;
}
.reddit {
  background-position: -42px -21px;
}

body{
  overflow-y: auto;
}

#instructions{
  width:90%;
}

@media (max-width:801px) { /* tablet, landscape iPad, lo-res laptops ands desktops */
/* move avatar to bottom, below toolbox and canvas */
  #visualization{
    float:none;
    margin-bottom:10px;
  }

  #levelLinks{
    margin-right:10px;
  }

  #blockly{
    margin-bottom:10px;
  }
}
