button.primary {
  /* Can't use "text-align: start" due to IE. */
  text-align: left;
}
text{
  margin:25px;
}
#visualization {
  position: relative;
}
html[dir="RTL"] button.primary {
  text-align: right;
}
#blockly {
  position: relative;
  float:left;
  margin-right: 10px;
}
#display {
  border: 1px solid #ccc;
}
#downloadImageLink {
  display: none;
}

#workspace {
  position: absolute;
  top: 90px;
  left: 10px;
  z-index: -20;
}

/* Slider. */
.sliderTrack {
  stroke: #aaa;
  stroke-width: 6px;
  stroke-linecap: round;
}
.sliderKnob {
  fill: #ddd;
  stroke: #bbc;
  stroke-width: 1px;
  stroke-linejoin: round;
}
.sliderKnob:hover {
  fill: #eee;
}

/* Sprited icons. */
.icon21 {
  height: 21px;
  width: 21px;
  background-image: url(icons.png);
}
.camera {
  background-position: -21px 0px;
}
.stop {
  background-position: -42px 0px;
}
.run {
  background-position: -63px 0px;
}
.reddit {
  background-position: -63px -21px;
}
#title{
	background-color:white;
}
#leftSide{
	position:relative;
  right:0;
  float:right;
}

@media (max-width:801px) { /* tablet, landscape iPad, lo-res laptops ands desktops */
/* move avatar to bottom, below toolbox and canvas */
  body{
    overflow-y:scroll;
  }
  #blockly{
    height:50%;
    margin-bottom:10px;
  }
  #leftSide{
    float:none;
    left:0;
    top:50%;
    margin-bottom: 15px;
  }
}
